input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.main-logo{
    width: 27%;
}
.td-btn{
    color: white !important;
    cursor: pointer !important;
}

.td-btn-delete{
    border: 0;
    margin-left: 2px;
}
.action-btn{
    display: flex;
}
.delete-item,.edit-item{
    cursor: pointer;
}
.vibrate {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}

span.select2-selection.select2-selection--single {
    height: 20px;
    border-radius: unset;
    border: 1px solid #c4c9da;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 19px !important;
}